* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 700px;
    margin: 0 auto;
}

h1, h2 {
    margin: 20px 0;
}

.blur {
    filter: blur(5px);
    user-select: none;
    pointer-events: none;
}
.hidden {
    display: none;
}

/* Don't change the order of the next two classes
   .question and .visible */
.question {
    display: none;
}

.visible {
    display: block;
}

.question-label {
    margin: 20px 0;
}

.answers-block {
    display: flex;
    flex-direction: column;
}

label {
    margin: 3px 0;
    padding: 10px;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 5px;
}

.answer {
    margin: 0 20px 0 10px;
}

.questions-footer {
    margin: 15px 0;
    position: relative;
}

.back, .next, .start, .finish {
    margin: 10px 15px 0 0;
    padding: 10px;
    width: 80px;
    background-color: #adff2f;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 700;
    cursor:  pointer;
    box-shadow: 2px 2px #5d6c7b;
}

.start {
    margin: 10px 15px 0 0;
    padding: 10px;
    width: 80px;
    background-color: indianred;
}

.timer {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 18px 15px 0 0;
}

.start, .timer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.next {
    position: absolute;
    right: 220px;
}

.back {
    position: absolute;
    left: 225px;
}

.error {
    width: 100px;
    position: absolute;
    right: 225px;
    top: -35px;
}

.error-triangle {
    display: block;
    position: absolute;
    right: 40px;
    top: 22px;
    background-color: indianred;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    z-index: -1;
}

.error-text {
    font-weight: 700;
    display: block;
    text-align: center;
    font-size: 0.7rem;
    background-color: indianred;
    padding: 5px;
    border-radius: 5px;
}

.finish {
    position: absolute;
    right: 220px;
    color: white;
    background-color: #3f6c9b;
}

.finish:active {
    background-color: #1f3c5b;
    box-shadow: none;
}

.back:hover, .next:hover {
    background-color: #91d727;
}

.back:active, .next:active {
    background-color: rgb(170, 114, 255);
    box-shadow: none;
}

.results {
    margin: 0 auto;
    font-size: 1.3rem;
}